{% extends 'base.html' %}

{% block center %}

    <div class="row" style="display: flex; justify-content: space-between; margin: 0.5rem;">
        <h2> Formulário de Hospegagem.</h2>

        <a href="{% url 'hospedagem_urls:hospedagem_listar' %}" class="btn btn-primary mb-3">Voltar</a>
    </div>

       
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            {{ form.nome }}
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            {{ form.telefone }}
        </div>
        

        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            {{ form.endereco }}
        </div>

        <button type="submit" class="btn btn-success">Enviar</button>
    </form>    
{% endblock %}
   
